.align-left,
.align-right{
    text-align: center;
}


@media screen and (min-width: 768px){
    .align-left{
    	text-align: left;
    }
    .align-right{
        text-align: right;
    }
}

.fill-space{
	height: 100%;
    width: 100%;
}

textarea {
	background-color: transparent;
	outline: none;
}

h1, h2, h3, h4, h5, h6, h7, p, textarea, button {
	font-family: "Inconsolata";
}